/** @format */
body {
  margin: 0 auto;
  padding: 0;
}

ul li {
  list-style: none;
}

a {
  text-decoration: none;
}

.container {
  width: 1349px;
  font-family: "Roboto", sans-serif;
}
.container_content {
  margin-left: 70px;
  margin-right: 70px;
}

.header {
  width: 100%;
  height: 30px;
  line-height: 30px;
  background-color: #353535;
  color: white;
}
.header_content {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.header_left {
  font-size: 12px;
}
.header_left i {
  padding-right: 10px;
}
.header_right {
  font-size: 12px;
  height: 30px;
}
.header_right a {
  color: white;
  font-size: 13px;
}
.header_right ul {
  width: 300px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 0px;
}
.header_right a:hover {
  color: red;
}

.nav {
  width: 100%;
  height: 70px;
  background-color: #030303;
  width: 100%;
  position: fixed;
  top: 30px;
  width: 100%;
  transition: all 0.1s ease;
  z-index: 10;
}
.nav_content {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.nav_logo {
  width: 95px;
}
.nav_logo img {
  width: 90%;
  height: 60px;
}
.nav_menu {
  width: 835px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}
.nav_menu ul {
  width: 100%;
  margin-top: 0px;
  padding-left: 5px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 70px;
  line-height: 70px;
}
.nav_menu ul .link {
  color: #c4c1c1;
  transition: 0.1s;
}
.nav_menu ul .link:hover {
  color: white;
  border-bottom: 2px solid red;
}
.nav_menu ul .cha1 {
  position: relative;
}
.nav_menu ul .cha1:hover .con1 {
  opacity: 1;
  visibility: visible;
}
.nav_menu ul .con1 {
  position: absolute;
  left: -10px;
  width: 250px;
  padding-left: -5px;
  background-color: #fff;
  border-radius: 10px;
  opacity: 0;
  visibility: hidden;
  transition: 0.2s;
}
.nav_menu ul .con1_menu {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  padding: 0px;
  height: 100%;
}
.nav_menu ul .con1_item {
  margin: 0px;
  width: 100%;
  height: 50px;
  line-height: 50px;
}
.nav_menu ul .con1_item a {
  color: #222222;
  width: 100%;
  padding-left: 10px;
  font-size: 15px;
}
.nav_menu ul .con1_item:first-child {
  margin-top: 15px;
}
.nav_menu ul .con1_item:last-child {
  margin-bottom: 15px;
}
.nav_menu ul .con1_item:hover {
  background-color: antiquewhite;
}
.nav_menu ul .cha2 {
  position: relative;
}
.nav_menu ul .cha2:hover .con2 {
  opacity: 1;
  visibility: visible;
}
.nav_menu ul .con2 {
  position: absolute;
  width: 820px;
  background-color: #fff;
  border-radius: 10px;
  opacity: 0;
  visibility: hidden;
  transition: 0.2s;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  left: -420px;
}
.nav_menu ul .con2_cate {
  margin: 0px;
  height: 450px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding-right: 5px;
  border-right: 1px solid #bebaba;
}
.nav_menu ul .con2_menu {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  height: auto;
  padding-right: 5px;
}
.nav_menu ul .con2 .con2_item {
  width: 100%;
  height: 40px;
  line-height: 40px;
  margin-left: -5px;
}
.nav_menu ul .con2 .con2_item a {
  color: #222222;
  width: 100%;
  font-size: 15px;
  padding-left: 10px;
}
.nav_menu ul .con2 .con2_item:first-child {
  margin-top: 10px;
}
.nav_menu ul .con2 .con2_item:first-child a {
  font-weight: bold;
}
.nav_menu ul .con2 .con2_item:last-child {
  margin-bottom: 10px;
}
.nav_menu ul .con2 .con2_item:hover {
  background-color: antiquewhite;
}
.nav_menu ul .cha3 {
  position: relative;
}
.nav_menu ul .cha3:hover .con3 {
  opacity: 1;
  visibility: visible;
}
.nav_menu ul .con3 {
  position: absolute;
  width: 250px;
  height: 80px;
  background-color: #fff;
  border-radius: 10px;
  opacity: 0;
  visibility: hidden;
  transition: 0.2s;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  left: -200px;
}
.nav_menu ul .con3 input {
  width: 150px;
  height: 37px;
  outline: none;
  box-shadow: 0px 0px 3px 3px #dfd8d8;
  border: none;
}
.nav_menu ul .con3 i {
  width: 40px;
  height: 40px;
  background-color: red;
  border: 1px solid red;
  color: white;
  line-height: 40px;
  padding-left: 15px;
}

.nav.show {
  top: 0;
}

.slide {
  width: 100%;
  background-image: url("./Images/banner1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 710px;
}
.slide_content {
  position: absolute;
  top: 400px;
  left: 100px;
}
.slide_content p {
  color: white;
  font-family: "Roboto";
  font-weight: 500;
  font-size: 55px;
  margin-top: 20px;
}
.slide_button1 .buttonST {
  padding: 15px 20px;
  background-color: #f2f2f2;
  border: none;
  outline: none;
  transition: all 0.25s ease-in;
}
.slide_button1 .buttonST a {
  color: #0c0b0b;
  font-family: "Roboto";
  font-size: 20px;
  font-weight: 400;
}
.slide_button1 .buttonST:hover {
  background-color: #411af3;
}
.slide_button2 .buttonXT {
  padding: 8px;
  background-color: #ec7777;
  margin-top: -25px;
  border: none;
  outline: none;
  transition: all 0.25s ease-in;
}
.slide_button2 .buttonXT:hover {
  background-color: #f70303;
}
.slide_button2 a {
  color: #ffffff;
  font-family: "Roboto";
  font-size: 20px;
  font-weight: 400;
}

.spnb {
  width: 100%;
  background-color: #f2f2f2;
}
.spnb_content {
  width: 100%;
  padding-bottom: 30px;
}
.spnb_content h2 {
  display: inline-block;
  height: 60px;
  line-height: 60px;
  font-family: "Roboto";
  font-weight: 500;
}
.spnb_menu {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.spnb_list {
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
}
.spnb_list a {
  color: #9c9c9c;
  font-family: "Roboto";
  font-size: 20px;
  padding-bottom: 5px;
}
.spnb_list a:hover {
  color: #030303;
  border-bottom: 3px solid #030303;
}
.spnb_list:nth-child(1) a {
  color: #030303;
  border-bottom: 3px solid #030303;
}
.spnb_ListProduct {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
}
.spnb_item {
  width: 220px;
  height: auto;
  background-color: #fff;
  overflow: hidden;
}
.spnb_item img {
  width: 100%;
  height: 220px;
  max-width: 100%;
  transform: scale(1);
  -webkit-transform: scale(1);
  transition: all 0.6s ease-in-out;
  vertical-align: middle;
}
.spnb_item:hover img {
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
}
.spnb_title {
  width: 100%;
  padding: 15px 17px;
}
.spnb_title .name {
  margin-bottom: 3px;
}
.spnb_title .name:hover {
  color: red;
}
.spnb_title .price {
  font-weight: bold;
}

.catagory {
  width: 100%;
  background-color: #f2f2f2;
  padding-bottom: 50px;
  padding-top: 30px;
}
.catagory_content {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 310px 30px 310px;
  grid-column-gap: 20px;
}
.catagory_item {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
}
.catagory_item img {
  width: 100%;
  height: 100%;
  max-width: 100%;
  transition: all 1s;
  -webkit-transform: scale(1);
  transform: scale(1);
  vertical-align: middle;
}
.catagory_item p {
  position: absolute;
  top: 30px;
  left: 30px;
  color: #f30b0b;
  font-family: "Roboto";
  font-size: 20px;
  font-weight: bold;
}
.catagory_item:nth-child(1) {
  grid-row: 1/4;
  grid-column: 1/2;
}
.catagory_item:nth-child(2) {
  grid-row: 1/4;
  grid-column: 2/3;
}
.catagory_item:nth-child(3) {
  grid-row: 1/2;
  grid-column: 3/4;
}
.catagory_item:nth-child(4) {
  grid-row: 3/4;
  grid-column: 3/4;
}
.catagory_item:hover img {
  transform: scale(1.2);
  -webkit-transform: scale(1.2);
}

.congty {
  width: 100%;
  height: 500px;
  margin-top: -20px;
  background-image: url("./Images/banner2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}
.congty_content {
  color: #ffffff;
  font-family: "Roboto";
}
.congty_content h2 {
  display: inline-block;
  font-size: 40px;
  font-weight: 400;
  margin-top: 97px;
}
.congty_content p {
  font-size: 50px;
  font-weight: 500;
  text-transform: uppercase;
  margin-top: -10px;
  color: #fdfdfd;
}
.congty_content span {
  display: inline-block;
  width: 60%;
  font-size: 17px;
  font-family: "Roboto";
  word-spacing: 2px;
  margin-top: -10px;
  margin-bottom: 20px;
}
.congty_content button {
  display: block;
  padding: 8px 15px;
  background-color: red;
  color: #fff;
  font-size: 15px;
  border: none;
  outline: none;
  transition: all 0.3s ease-out;
}
.congty_content button:hover {
  background-color: #5410f5;
}

.tintuc {
  width: 100%;
  padding-bottom: 30px;
  background-color: #eeeeee;
}
.tintuc_content {
  width: 100%;
}
.tintuc_content h2 {
  display: inline-block;
  margin-top: 50px;
  margin-bottom: 50px;
  font-family: "Roboto";
  font-weight: 400;
  text-transform: uppercase;
}
.tintuc_list {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  grid-column-gap: 40px;
}
.tintuc_item {
  width: 100%;
  background-color: #fff;
}
.tintuc_item img {
  width: 100%;
  height: 45%;
}
.tintuc_title {
  margin: 15px;
}
.tintuc_title h4 a {
  color: #030303;
  font-family: "Roboto";
  text-transform: uppercase;
  font-weight: 500;
  height: 40px;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 2;
}
.tintuc_title p {
  font-size: 15px;
  font-weight: 300;
}
.tintuc_title p a {
  font-size: 15px;
  color: #030303;
  font-family: "Roboto";
  line-height: 25px;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 3;
}
.tintuc_title .xemThem {
  color: #817f7f;
  font-size: 15px;
  font-family: "Roboto";
}
.tintuc_item:hover .tintuc_title > p > a {
  color: #f30b0b;
}

.logo {
  width: 100%;
  background-image: url("./Images/banner2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  padding-bottom: 15px;
}
.logo_content {
  width: 100%;
}
.logo_listInfor {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  color: #fff;
}
.logo_listInfor_item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.logo_listInfor_item .number {
  font-size: 50px;
  border-bottom: 2px solid red;
  padding-bottom: 30px;
}
.logo_listInfor_item .word {
  margin-top: -10px;
  font-size: 20px;
}

.sponsor {
  width: 100%;
  padding-bottom: 20px;
  padding-top: 20px;
}
.sponsor .content {
  width: 100%;
}
.sponsor_list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.sponsor_item {
  width: 100%;
  padding: 15px;
}
.sponsor_item img {
  width: calc(100% - 30px);
}

.footer {
  width: 100%;
  background-color: #222222;
  padding-top: 50px;
}
.footer_content {
  width: 100%;
}
.footer_list {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}
.footer_item {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}
.footer_item img {
  width: 40%;
}
.footer_item h3 {
  margin-top: 0px;
  color: #eeeeee;
  font-family: "Roboto";
  font-weight: 400;
}
.footer_item ul {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}
.footer_item ul li {
  margin-left: -40px;
  color: #999999;
  font-family: "Roboto";
  font-weight: 400;
  padding-bottom: 15px;
}
.footer_item ul li a {
  color: #999999;
  font-family: "Roboto";
  font-weight: 400;
}
.footer_item ul li .text {
  padding: 10px 13px;
  border: none;
  outline: none;
  font-size: 17px;
}
.footer_item ul li .text:active,
.footer_item ul li .text:focus {
  box-shadow: -2px -1px 4px 2px #fff;
}
.footer_item ul li .submit {
  padding: 10px 13px;
  margin-left: -4px;
  color: #fff;
  font-size: 17px;
  background-color: #f51616;
  border: none;
  outline: none;
}
.footer_item ul li:hover a,
.footer_item ul li:hover i {
  color: #eeeeee;
}
.footer_item ul li i {
  margin-right: 10px;
  font-size: 20px;
}
.footer_item ul .title {
  line-height: 30px;
}

.end {
  width: 100%;
  background-color: #0c0b0b;
  padding-top: 5px;
  padding-bottom: 5px;
}
.end_content {
  width: 100%;
  height: 30px;
  list-style: 30px;
}
.end_content p {
  width: 100%;
  height: 100%;
  text-align: center;
  color: #999999;
}

.button_main {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  position: fixed;
  top: 500px;
  left: 1290px;
  z-index: -1;
}
.button_main a > i {
  font-size: 25px;
  color: #030303;
}

.button_main.hienthi {
  z-index: 10;
}

/*# sourceMappingURL=style.css.map */
